<ion-content>
  <ion-list>
    <ion-list-header>Configuración</ion-list-header>
    <ion-item lines="none" detail="false">
      <ion-icon name="moon" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none" detail="false" button (click)="alert()"> 
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button (click)="dismissPopover()"> 
      <ion-icon name="close" slot="start"></ion-icon>
      <ion-label>Cerrar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>