<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Favoritos</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>Ordenar por:</ion-label>
      <ion-select interface="action-sheet" (ionChange)="ordenar()" [(ngModel)]="opcion" mode="ios">
        <ion-select-option value="nombre">Alfabeto</ion-select-option>
        <ion-select-option value="dificultad">Dificultad</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-label>Tipo de té:</ion-label>
      <ion-select (ionChange)="filtrarPorTipoTe()" [(ngModel)]="tipeTea">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option value="Té Verde">Té Verde</ion-select-option>
        <ion-select-option value="Té Negro">Té Negro</ion-select-option>
        <ion-select-option value="Té Rojo">Té Rojo</ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>Nacionalidad:</ion-label>
      <ion-select (ionChange)="filtrarPorNacionalidad()" [(ngModel)]="country">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option value="gb">Inglaterra</ion-select-option>
        <ion-select-option value="cn">China</ion-select-option>
        <ion-select-option value="tw">Taiwan</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-label>Temperatura:</ion-label>
      <ion-select (ionChange)="filtrarPorTemperatura()" [(ngModel)]="temp">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option value="Frío">Frío</ion-select-option>
        <ion-select-option value="Caliente">Caliente</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
<!--True condition (length > 0)-->
  <div *ngIf="teas.length">
    <div *ngFor = "let tea of teas">
      <app-tea-card [tea]="tea"></app-tea-card>
    </div>
  </div>
<!--End True condition-->
<!--False condition (length = 0)-->
  <div *ngIf="!teas.length">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h1>No hay favoritos!</h1>
            <h4>Pulsa en el corazón de una receta para indicar que te gusta y de esta forma poder visualizarla en este panel.</h4>
            <img src="https://media2.giphy.com/media/RirZYpDYvRIFuzUxZ1/200w.gif?cid=82a1493bmcd7vd6ikzx1m3lq3rfgzrmnhdxqfmzbf2fadenu&rid=200w.gif&ct=g">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<!--End false condition-->
</ion-content>