<ion-header>
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-horizontal" (click)="abrirPopover($event)" class="popover-conf"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
  <ion-toolbar>
    <ion-searchbar class="input-search" placeholder='Buscar' [(ngModel)]="searchTerm" showCancelButton="focus" mode=ios></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngFor = "let tea of teas | filter:searchTerm" >
    <app-tea-card [tea]="tea"></app-tea-card>
</div>
 
</ion-content>

