<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" class="icon-search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../../assets/images/bubble-tea.jpg" />
    <ion-item>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>Dificultad</ion-card-subtitle>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-card-title>Bubble Tea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="../../../assets/images/bubble-tea.jpg" />
    <ion-item>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>Dificultad</ion-card-subtitle>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-card-title>Bubble Tea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../../assets/images/bubble-tea.jpg" />
    <ion-item>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>Dificultad</ion-card-subtitle>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-card-title>Bubble Tea</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content>

